{% extends 'base.html' %}

{% block title %}
    My Receipts
{% endblock title %}

{% block content %}
    <main>
        <h1>My Receipts</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for receipt in categories_listview %}
                    <tr>
                        <td>{{ receipt.name }}</td>
                        <td>{{ receipt.items.all|length }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock content %}
